data
*.pyc
# *.txt
# *.pkl
*.params
wandb
AnchorDrugPrediction/finetune_step1_models/
ActiveLearning/logfile/
ActiveLearning/results/
ActiveLearning/deprecated/
AnchorDrugPrediction/results/
resultBaseLine/
ActiveLearning_one_cellline/results
*.pth
*.csv
ActiveLearning_one_cellline/logfile/
ActiveLearning_one_cellline/druglist/
ActiveLearning_one_cellline/data_kdd/